@import './Vars.scss';
@import './Media.scss';

// components
@import './components/Carousel.scss';
@import './components/CarouselItem.scss';
@import './components/Categories.scss';
@import './components/Footer.scss';
@import './components/Header.scss';
@import './components/Search.scss';

//pages
//@import './containers/Login.scss';
@import './containers/Register.scss';



body {
  margin: 0;
  font-family: $theme-font;
  background: $main-color;
}

* {
  box-sizing: border-box;
}



.input {
  background-color: rgba(255,255,255,0.1);
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 20px;
  outline: none;
  padding: 0px 20px;
  width: 70%;
}

::placeholder {
  color: white;
}

.button {
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}